form {
  padding: 20px 30px;
  h2 {
    margin-bottom: 10px;
  }

  h3 {
    padding-left: 0;
  }

  mat-form-field {
    width: 100%;
  }
  .btn-container {
    float: right;
    margin: 20px 0;
  }
}
