@import "~@angular/material/theming";

@include mat_core();

$primary: mat_palette($mat-blue, A400, A100, A700);
$accent: mat_palette($mat-green);
$warn: mat_palette($mat-red);

$app-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($app-theme);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

$pane-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
